    <footer class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-3">
          <h3>Company</h3>
          <p>About</p>
          <p>Our Shops</p>
          <p>News</p>
          <p>Delivery</p>
          <p>Returns</p>
        </div>
        <div class="col-lg-3">
          <h3>Help</h3>
          <p>Contact Us</p>
          <p>FAQ</p>
          <p>Help</p>
        </div>
        <div class="col-lg-3">
          <h3>Shop Info</h3>
          <p>23 Brown Street</p>
          <p>2503 Orlando, FL</p>
        </div>
        <div class="col-lg-3">
          <h3>Social Media</h3>
          <p>Twitter</p>
          <p>Facebook</p>
          <p>Instagram</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy;2017 Q Collins. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
