<% include partials/header %>

<section class="section-jumbotron container-fluid">
    <div class="row">
        <div class="jumbotron" data-type="background" data-speed="2">
        </div>
    </div>
</section>
<section class="container section-brand">
    <div class="row">
        <div class="col-lg-12 text-center txt-heading">
            <h1>Who Are We?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center txt-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus atque quos accusamus corporis vel fugiat inventore, debitis maiores reprehenderit itaque amet, excepturi dolore illum eos veritatis similique, at natus.</p>
        </div>
    </div>
</section>
<section class="container section-feat-pop">
    <div class="row">
        <div class="col-lg-12 feat-pop-container">
            <div class="feat-pop">
                <span class="feat feat-pop-select">FEATURED</span><span class="pop">POPULAR</span>
            </div>
        </div>
    </div>
    <div class="row">
        <% for(var x = 0; x < 8; x++) { %>
            <div class="col-lg-3 text-center product-gallery-container">
                <figure class="product-img">
                    <img src="/img/dev/clothes<%= x + 1 %>.jpg" alt="">
                    <figcaption>
                        <h3></h3>
                        <span></span>
                        <a href="#">Take a look</a>
                    </figcaption>
                </figure>
            </div>
        <% } %>
    </div>
    <div class="row see-more-btn-row">
        <div class="col-lg-12 see-more-btn-container text-center">
            <div class="see-more-btn">
                <p><button class="btn" type="button">VIEW MORE</button></p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid section-jewelry">
    <% for(var x = 0; x < 3; x++) { %>
        <div class="row">
            <div class="col-lg-6 pic-container">
            </div>
            <div class="col-lg-6 text-container">
                <div class="text">
                    <h3>A Girls Best Friend</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem impedit, suscipit aspernatur. Illum ipsam, eos, dolore enim vitae, ut magnam deserunt aperiam quaerat maxime, ab numquam excepturi distinctio recusandae quam.</p>
                </div>
            </div>
        </div>
    <% } %>
</section>
<section class="container-fluid section-suscribe">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</section>
<section class="container section-blog">
    <div class="row text-center">
    <% for(var x = 0; x < 3; x++) { %>
        <div class="col-lg-4 entry-container">
            <img src="/img/dev/<%= num.blogs[x] %>" class="img-responsive" alt="">
            <h4 class="title">How To Save Money While Shopping</h4>
            <p class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi molestiae architecto repellat doloremque, distinctio sequi! Consequuntur placeat beatae illo, saepe asperiores, eos est eveniet nam minima illum, ducimus cumque deserunt.</p>
            <a href="#" class="readmore">Read More</a>
        </div>
    <% } %>
    </div>
</section>

<% include partials/footer %>
