html {
    height: 100%;
    width: 100%;
    color: #34495e;
    body {
        @extend html;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $mainFontFamily!important;
}

p {
    font-family: $secondaryFontFamily!important;
}