$mainFontFamily: 'crimson text', serif;

header {
    nav {
        border-radius: 0!important;
    }

    .topNav {
        margin-bottom: 0;
        background: #fff;
        a {
            color: black!important;
            font-family: $mainFontFamily;
            &:hover {
                color: grey!important;
            }
        }
        .topNav-brand {
            font-size: 15px;
        }
        li > a {
            border-right: 0.1px solid #e7e7e7;
        }
        .cart-items {
            background-color: maroon;
            padding: 4px 8px;
            color: white;
            font-weight: bold;
            border-radius: 50%;
        }
    }

    .bottomNav {
        margin-bottom: 0;
        border: none;
        font-weight: bolder;
        height: 8em;
        min-height: 8em;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        justify-content: center;
        a {
            color: #34495e!important;
            &:hover {
                color: grey!important;
            }
        }
        .navbar-brand {
            font-family: $mainFontFamily;
            font-size: 3.5em;
            letter-spacing: 0.1em;
        }
        .container {
            font-family: $mainFontFamily;
            .mainCart {
                position: relative;
                line-height: 0.45em;
                font-size: 45px!important;
                color: #34495e;
                .cart-items {
                    position: absolute;
                    top: -1em;
                    width: 60%;
                    text-align: center;
                    left: 1.2em;
                    transform: scale(0.9);
                    font-size: 17.2px;
                    font-weight: bolder;
                    color: #34495e;
                    &:after {
                        content: '';
                        padding: 15px 18px;
                        border-radius: 50%;
                        background-color: white;
                        top: -0.28em;
                        box-shadow: 0px 0px 18px -10px black;
                        position: absolute;
                        left: -0.25em;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

.section-jumbotron {
    height: 100%;
    & > .row:first-child {
        height: 100%;
        .jumbotron {
            border-radius: 0!important;
            height: 100%;
            background: url(./../img/dev/fashion-1636868_1920.jpg) no-repeat center top fixed;
        }
    }
}

.section-brand {
    margin-bottom: 6em;
    .txt-heading {
        text-align: center;
        font-size: 2em;
        font-family: $mainFontFamily;
    }
    .txt-body p {
        text-align: center;
        font-family: $mainFontFamily;
        font-size: 1.25em;
        width: 100%;
        margin: 0 auto;
    }
}

.section-feat-pop {
    font-family: $mainFontFamily;
    font-size: 1.3em;
    font-weight: bolder;
    color: lightgrey;
    .feat-pop {
        text-align: center;
        span {
            cursor: pointer;
        }
        .fa-circle-thin {
            color: #34495e;
            transform: scale(0.6);
            margin: 0em 0.2em;
        }
        .feat {
        }
        .pop {

        }
    }
}

footer {

}