$mainFontFamily: 'crimson text', serif;

header {
    nav {
        border-radius: 0!important;
    }

    .topNav {
        margin-bottom: 0;
        background: #fff;
        a {
            color: black!important;
            font-family: $mainFontFamily;
            &:hover {
                color: grey!important;
            }
        }
        .topNav-brand {
            font-size: 15px;
        }
        li > a {
            border-right: 0.1px solid #e7e7e7;
        }
        .cart-items {
            background-color: maroon;
            padding: 4px 8px;
            color: white;
            font-weight: bold;
            border-radius: 50%;
        }
    }

    .bottomNav {
        margin-bottom: 0;
        border: none;
        font-weight: bolder;
        height: 8em;
        min-height: 8em;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        justify-content: center;
        a {
            color: #34495e!important;
            &:hover {
                color: grey!important;
            }
        }
        .navbar-brand {
            font-family: $mainFontFamily;
            font-size: 3.5em;
            letter-spacing: 0.1em;
        }
        .container {
            font-family: $mainFontFamily;
            .mainCart {
                position: relative;
                line-height: 0.45em;
                font-size: 45px!important;
                color: #34495e;
                .cart-items {
                    position: absolute;
                    top: -1em;
                    width: 60%;
                    text-align: center;
                    left: 1.2em;
                    transform: scale(0.9);
                    font-size: 17.2px;
                    font-weight: bolder;
                    color: #34495e;
                    &:after {
                        content: '';
                        padding: 15px 18px;
                        border-radius: 50%;
                        background-color: white;
                        top: -0.28em;
                        box-shadow: 0px 0px 18px -10px black;
                        position: absolute;
                        left: -0.25em;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

.section-jumbotron {
    height: 100%;
    & > .row:first-child {
        height: 100%;
        .jumbotron {
            border-radius: 0!important;
            height: 100%;
            background: url(./../img/dev/fashion-1636868_1920.jpg) no-repeat center top fixed;
        }
    }
}

.section-brand {
    margin-bottom: 6em;
    .txt-heading {
        text-align: center;
        font-size: 2em;
        font-family: $mainFontFamily;
    }
    .txt-body p {
        text-align: center;
        font-family: $mainFontFamily;
        font-size: 1.25em;
        width: 100%;
        margin: 0 auto;
    }
}

.section-feat-pop {
    font-family: $mainFontFamily;
    font-size: 1.3em;
    font-weight: bolder;
    color: lightgrey;
    margin-bottom: 4em;
    & > div:first-child {
        margin-bottom: 3em;
    }
    .feat-pop-container {
        display: flex;
        justify-content: center;
    }
    .feat-pop {
        min-width: 10em;
        width: 25em;
        text-align: center;
        padding-bottom: 0.8em;
        letter-spacing: 0.2em;
        border-bottom: 1px solid rgba(52, 73, 94, 0.3);
        user-select: none;
        span {
            cursor: pointer;
        }
        .fa-circle-thin {
            color: #34495e;
            transform: scale(0.4);
            margin: 0em 0.6em;
        }
        .feat {
        }
        .pop {

        }
    }
    .product-gallery-container {
        .product-img {
            overflow: hidden;
            position: relative;
            height: 18em;
            margin-bottom: 1.7em;
            & > img {
                width: 100%;
                height: auto;
            }
            &:after {
                content: '';
                background: rgba(255, 255, 255, 1);
                opacity: 0;
                transition: 0.2s ease-in;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                position: absolute;
            }
        }
    }
    .see-more-btn-row {
        margin-top: 1.8em;
        p {
            button {
                padding: 0.5em 3em;
                background-color: transparent;
                color: #34495e!important;
                font-weight: bolder;
                font-size: 1em;
                border: 2px solid #34495e;
                border-radius: 0!important;
            }
        }
    }
}

.section-mid {
    height: 24em;
    // background: url(./../img/dev/jewelstrip.jpeg) no-repeat center center;
    // background-size: cover;
    // position: relative;
    // &:after {
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     opacity: 0.86;
    //     background-color: white;
    // }
    .row {
        height: 100%;
         .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            z-index: 1;
            text-align: left;
            & > .text {
                position: relative;
                top: -1.9em;
                width: 60%;
            }
        }
        .pic-container {
            position: relative;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            &:after {
                content: '';
                background-image: url(./../img/dev/ring.png);
                background-repeat: no-repeat;
                background-position: 75% center;
                background-size: auto 80%;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                z-index: 2;
            }
        }
        &:nth-child(even) {
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                & > .text {
                    top: 0;
                    align-self: right;
                }
            }
            .pic-container {
                &:after {
                    //transform: scaleX(-1);
                    left: -25em;
                }
            }
        }
    }
}

.pic {
    &:after {
        background: url(./../img/dev/ring.png)!important;
    }
}

footer {

}