.hi7 {
	height: 3em!important;
}

.ico-s {
	transform: rotate(180deg)!important;
}

.sub-hi7 {
	opacity: 1!important;
	left: 0%!important;
}

.hi7-bg {
	background-color: black!important;
	color: white!important;
}

.menu-con {
	opacity:1!important;
	height: 22.78em!important;
}

.hambturn {
	transform: rotate(180deg)!important;
	left: 2em!important;
}

.feat-pop-select {
	color:#34495e!important;
	background-color: rgba(52, 73, 94, 0.1);
	padding: 0.6em;
}

.animate-overlay {
	&:after {
		opacity: 0.7!important;
	}
}

.overlayPicContainer {
    &:before {
        opacity: 0.6!important;
    }
}

.animate-nav-button {
	transform: rotate(90deg);
}

.navbar-fixed-top {
	position:fixed!important;
    top: 0!important;
	width: 100%!important;
}